@font-face {
    font-family: "Century Gothic";
    src: url('fonts/CenturyGothic.ttf');
}

*, html{
    margin: 0;
    padding: 0;
    outline: none !important; 
}

body{
    font-family: 'Century Gothic', sans-serif;
    background: linear-gradient(180deg, #0085FF 0%, #003464 100%);
    margin-bottom: 200px;
    padding: 0 20px;
    background-size: 100vh 100vh;
    background-attachment: fixed;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

a{
    text-decoration: none;
    color: unset;
    user-select: none;
}

input[type=submit]{
    cursor: pointer;
}

#project-header{
    font-weight: normal;
    margin: 0 auto;
    display: block;
    width: 100%;
    margin-top: 30px;
    color: white;
    text-align: center;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}
#project-header .back{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
#project-header .header-text{
    margin: 0 auto;
}

/* Block */

.block{
    padding: 15px;
    border-radius: 30px;
    background-color: white;
    margin: 30px 0;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    min-height: 20px;
    box-sizing: border-box;
    position: relative;
}

/* Block */

/* Main block */
.block .hometask .task{
    margin-top: 15px;
    color: #797979;
}

.hometask{
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.hometask h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block .schedule .lesson{
    margin-top: 15px;
    color: #797979;
}

.block .schedule{
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.schedule h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main block */



/* Students */

.student{
    display: grid;
    margin: 10px 0;
    grid-template-columns: 60px auto 25px; /* 3 столбца */
    align-items: center;
}

.student .student-icon{
    background-color: rgb(228, 228, 228);
    color: #FFFFFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}
.students .leave{
    text-align:center;
    color: #FF6262;
    margin-top: 30px;
    display: block;
    position: relative;
}

.students .student .student-name{
    font-size: 0.8em;
}
.students .student .student-role{
    font-size: 0.8em;
    color: #7C7C7C;
}
/* Students */

/* Tasklist */

.tasklist .dayblock h3{
    display: flex;
    justify-content: space-between;
}

.tasklist .dayblock .task{
    color: #7C7C7C;
    margin-top: 15px;
    display: block;
    display: flex;
    justify-content: space-between;
}

.tasklist .dayblock .task i{
    margin-left: 15px;
}

.tasklist .dayblock .lesson{
    margin-top: 15px;
}

.tasklist .dayblock h3 .info{
    display: flex;
    align-content: center;
    -webkit-tap-highlight-color: transparent;
}
.tasklist .dayblock h3 .info .date{
    margin-right: 10px;
}

.tasklist-options{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 15px;
    color: white;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    -webkit-tap-highlight-color: transparent;
}
.tasklist-options a{
    color: white;
}

.tasklist .lesson input{
    padding:10px 5px;
    margin-top: 15px;
    border-radius: 0;
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}

.tasklist .lesson .task .edit{
    -webkit-tap-highlight-color: transparent;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    
}
.tasklist .lesson .task .delete{
    color: #FF6262;
    -webkit-tap-highlight-color: transparent;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Tasklist */

/* Settings */

/* Profile */

.settings .profile{
    display: flex;
    align-items: center;
    margin: 15px 0;
    justify-content: flex-start;
}

.settings .profile .profile-icon{
    background-color: rgb(228, 228, 228);
    margin-right: 15px;
    color: #FFFFFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}
.settings .profile .profile-name{
    font-size: 0.9em;
}
.settings .profile .profile-role{
    font-size: 0.9em;
    color: #7C7C7C;
}

/* Profile */

.settings .options .token{
    margin-top:15px;
    
}
.settings .options .token .field{
    background-color: rgb(228, 228, 228);
    padding: 5px;
    display: flex;
    margin-top: 15px;
    border-radius: 5px;
    justify-content: space-between;
}
.settings .options .token .copy{
    color: #2980D1;
}
.settings .option{
    margin-top: 15px;
    display: block;
    color: #2980D1;
}
.settings .option.red{
    color: #FF6262;
}

/* Settings */

@keyframes docbtnappear{
    from{
        text-shadow: unset;
        color: black;
    }
    to{
        color: #2980d1;
        text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }
}

@media screen and (min-width: 768px){
    .block{
        width: 100%;
        margin-right: 30px;
    }
    body{
        margin-bottom: 0;
        padding-left: 80px;
    }

    /* Page structure */

    .homepage{
        display: flex;
    }
    .settingspage .block{
        width: fit-content;
        margin: 30px auto;
    }
    .adddzpage .block{
        width: fit-content;
        margin: 30px auto;
    }
    .tasklistpage{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 30px;
        margin-left: 5%;
    }
    .studentspage .block{
        width: 30%;
        margin: 0 auto;
        margin-top: 30px;
    }
    #project-header .back{
        display: none;
    }
    .tasklist-options{
        width: 30%;
        margin: 0 auto;
        margin-top: 15px;
    }
    .tasklistpage .block{
    }
    /* Page structure */

}



/* adddz */


.adddzpage .block input[type=text]{
    padding:10px 5px;
    margin-top: 10px;
    border-radius: 0;
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}
.adddzpage .block select{
    padding:10px 5px;
    margin-top: 10px;
    border-radius: 0;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}
.adddzpage .block input[type=submit]{
    margin-top: 10px;
    border: none;
    display: block;
    box-sizing: border-box;
    background-color: transparent;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
    background-color: #2980d1;
    font-size: 16px;
    margin-left: auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}
form a{
    color: #2980d1;
}
/* adddz */

.customfadeInUp{
    animation: customfadeInUp 0.3s ease-in;
    animation-fill-mode: forwards;
}
.customfadeOutDown{
    animation: customfadeOutDown 0.3s ease-in;
    animation-fill-mode: forwards;
}
::-webkit-resizer {
    background-image: url(style.css);
    width: 4px;
    height: 0px;
    background-repeat: no-repeat;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-button {
    background-image: url(style.css);
    width: 6px;
    height: 0px;
    background-repeat: no-repeat;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #0085FF 0%, #003464 100%);
}
::-webkit-scrollbar-track {
    background: transparent;
}

@keyframes customfadeInUp{
    0%{
        opacity: 0;
        transform: translate(-50%,100px);
    }
    100%{
        opacity: 1;
        transform: translate(-50%,0);
        
    }
}


@keyframes customfadeOutDown{
    0%{
        opacity: 1;
        transform: translate(-50%,0);
    }
    100%{
        opacity: 0;
        transform: translate(-50%,100px);
        
    }
}

@keyframes compression{
    0%{
    }
    100%{

        opacity: 0;

    }
}

@keyframes compressionended{
    0%{
        opacity: 0;
        transform: scale(0.00001);
    }
    100%{
        transform: scale(0.00001);
        height: 0;
        margin-bottom: 0;
        opacity: 0;
    }
}