@font-face {
  font-family: 'Century Gothic';
  src: url("11528.ttf");
}

.btn-border {
  padding: 8px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  margin: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn-material {
  padding: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  margin: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn-circle {
  padding: 10px;
  font-size: 26px;
  text-align: center;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 22px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.7 !important;
}

.btn-material {
  background-color: #2980d1;
  color: white;
}

.btn-border {
  border: 1px solid #2980d1;
  color: #2980d1;
}

.btn-circle {
  color: white;
  background-color: #2980d1;
}

.btn-border:hover {
  background-color: #2980d1;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-circle:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
}

.btn-material:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
}

body.dark .btn-material {
  background-color: #2980d1;
  color: white;
}

body.dark .btn-border {
  border: 1px solid #2980d1;
  color: #2980d1;
}

body.dark .btn-circle {
  color: white;
  background-color: #2980d1;
}

body.dark .btn-border:hover {
  background-color: #2980d1;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body.dark .btn-circle:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
}

body.dark .btn-material:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
}

.shadow {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.shadow-1 {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.shadow-2 {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.shadow-3 {
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
}

.shadow-4 {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

.shadow-5 {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
}

.shadow-1.inset {
  -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.shadow-2.inset {
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.shadow-3.inset {
  -webkit-box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
}

.shadow-4.inset {
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

.shadow-5.inset {
  -webkit-box-shadow: inset 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
}

.shadow.inset {
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.input-material {
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 10px 0;
}

.input-border {
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 10px 0;
}

.input {
  padding: 10px 5px;
  margin: 10px 0;
  border-radius: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: #eeeeee;
}

input, textarea:focus {
  outline: none;
}

.input-material {
  background-color: white;
  border: 2px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-material:focus {
  border: 2px solid #2980d1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-border {
  background-color: transparent;
  border: 2px solid #2980d1 !important;
  color: #2980d1;
}

.input-border:focus {
  border: 2px solid #1a61a3 !important;
}

body.dark .input-material {
  background-color: white;
  border: 2px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body.dark .input-material:focus {
  border: 2px solid #2980d1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body.dark .input-border {
  background-color: transparent;
  border: 2px solid #2980d1 !important;
  color: #2980d1;
}

body.dark .input-border:focus {
  border: 2px solid #1a61a3 !important;
}

#gotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#gotop.gotop-show {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#gotop {
  background: #FFFFFF;
  color: #000000;
}

body.dark #gotop {
  background: #FFFFFF;
  color: #000000;
}

#dockbar {
  width: 100%;
  border-radius: 25px;
  padding: 10px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
}

#dockbar i {
  font-size: 2.5em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#dockbar a {
  color: black;
  -webkit-tap-highlight-color: transparent;
}

#dockbar .docbtn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
  text-shadow: none;
}

#dockbar .active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: docbtnappear 0.1s ease-in;
          animation: docbtnappear 0.1s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#dockbar {
  background-color: rgba(255, 255, 255, 0.95);
}

#dockbar a.active {
  color: #2980d1;
}

body.dark #dockbar {
  background-color: rgba(255, 255, 255, 0.95);
}

body.dark #dockbar a.active {
  color: #2980d1;
}

.toast {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.3em;
  z-index: 2;
  left: 50%;
  bottom: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  will-change: transform;
}

.toast .link {
  margin-left: 5px;
}

.toast.customfadeInUp {
  -webkit-animation: customfadeInUp 0.3s ease-in;
          animation: customfadeInUp 0.3s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.toast.customfadeOutDown {
  -webkit-animation: customfadeOutDown 0.3s ease-in;
          animation: customfadeOutDown 0.3s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes customfadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 100px);
            transform: translate(-50%, 100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes customfadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 100px);
            transform: translate(-50%, 100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@-webkit-keyframes customfadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, 100px);
            transform: translate(-50%, 100px);
  }
}

@keyframes customfadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, 100px);
            transform: translate(-50%, 100px);
  }
}

.toast {
  background: rgba(99, 99, 99, 0.9);
  color: #FFFFFF;
}

body.dark .toast {
  background: rgba(255, 255, 255, 0.7);
  color: #000000;
}

.hover-opacity {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.hover-opacity:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.7;
}

.hover-slide {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  top: 0;
}

.hover-slide:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  top: 5px;
}

.noshadow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.noshadow:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hover-shadow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-shadow:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.hover-scale {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-scale:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.fadeoutdown {
  -webkit-animation: fadeoutdown 0.35s ease-in-out;
          animation: fadeoutdown 0.35s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeoutdown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes fadeoutdown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
}

.fadeinup {
  -webkit-animation: fadeinup 0.35s ease-in-out;
          animation: fadeinup 0.35s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeinup {
  0% {
    -webkit-transform: translateY(200px) scale(0.8);
            transform: translateY(200px) scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes fadeinup {
  0% {
    -webkit-transform: translateY(200px) scale(0.8);
            transform: translateY(200px) scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.fadeoutdownbut {
  -webkit-animation-name: fadeoutdownbut1, fadeoutdownbut2;
          animation-name: fadeoutdownbut1, fadeoutdownbut2;
  -webkit-animation-duration: 0.5s, 0.35s;
          animation-duration: 0.5s, 0.35s;
  -webkit-animation-timing-function: ease-in-out, ease-in-out;
          animation-timing-function: ease-in-out, ease-in-out;
  -webkit-animation-delay: 0s, 0.5s;
          animation-delay: 0s, 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeoutdownbut1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.7;
  }
}

@keyframes fadeoutdownbut1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.7;
  }
}

@-webkit-keyframes fadeoutdownbut2 {
  0% {
    -webkit-transform: translateY(0) scale(0.8);
            transform: translateY(0) scale(0.8);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translateY(300px) scale(0.8);
            transform: translateY(300px) scale(0.8);
    opacity: 0;
  }
}

@keyframes fadeoutdownbut2 {
  0% {
    -webkit-transform: translateY(0) scale(0.8);
            transform: translateY(0) scale(0.8);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translateY(300px) scale(0.8);
            transform: translateY(300px) scale(0.8);
    opacity: 0;
  }
}

.fadeinupbut {
  -webkit-animation-name: fadeinupbut1, fadeinupbut2;
          animation-name: fadeinupbut1, fadeinupbut2;
  -webkit-animation-duration: 0.35s, 0.5s;
          animation-duration: 0.35s, 0.5s;
  -webkit-animation-timing-function: ease-in-out, ease-in-out;
          animation-timing-function: ease-in-out, ease-in-out;
  -webkit-animation-delay: 0s, 0.35s;
          animation-delay: 0s, 0.35s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  will-change: transform, opacity;
}

@-webkit-keyframes fadeinupbut1 {
  0% {
    -webkit-transform: translateY(300px) scale(0.8);
            transform: translateY(300px) scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scale(0.8);
            transform: translateY(0) scale(0.8);
    opacity: 0.7;
  }
}

@keyframes fadeinupbut1 {
  0% {
    -webkit-transform: translateY(300px) scale(0.8);
            transform: translateY(300px) scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scale(0.8);
            transform: translateY(0) scale(0.8);
    opacity: 0.7;
  }
}

@-webkit-keyframes fadeinupbut2 {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeinupbut2 {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.fadeout {
  -webkit-animation: fadeout 0.5s ease-in-out;
          animation: fadeout 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fadein {
  -webkit-animation: fadein 0.5s ease-in-out;
          animation: fadein 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body.dark {
  background-color: rgba(32, 34, 51, 0.9);
}

body.dark .headermenu a {
  color: #FFF;
}

body.dark .accent-color-background {
  background-image: rgba(32, 34, 51, 0.9);
  background-size: 100% 100%;
}

body.dark .headermenu {
  color: #FFFFFF;
}

body.dark .accent-color-text {
  color: #2980d1;
}

body.dark .marked {
  background-color: #FFFFFF;
}

body.dark i.active {
  color: #2980d1;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

body.dark .block {
  background-color: #363636;
  color: #FFFFFF;
}

body.dark #project-name {
  color: #FFFFFF;
}

body.dark .viber-color {
  background: #9D50BB;
  background: -webkit-gradient(linear, left top, right top, from(#6E48AA), to(#9D50BB));
  background: linear-gradient(to right, #6E48AA, #9D50BB);
}

body.dark .telegram-color {
  background: #00B4DB;
  background: -webkit-gradient(linear, left top, right top, from(#0083B0), to(#00B4DB));
  background: linear-gradient(to right, #0083B0, #00B4DB);
}

body.dark .instagram-color {
  background: #f46b45;
  background: -webkit-gradient(linear, left top, right top, from(#eea849), to(#f46b45));
  background: linear-gradient(to right, #eea849, #f46b45);
}

body.dark .code {
  color: #000000;
}

body.dark .link {
  color: #2980d1;
}

body.dark ::-webkit-resizer {
  width: 0px;
  height: 0px;
}

body.dark ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body.dark ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

body.dark ::-webkit-scrollbar-thumb {
  background: transparent;
}

body.dark ::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  font-family: "Century Gothic", sans-serif;
}

*, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.wrapper {
  padding: 5vh 15vw;
}

@media screen and (max-width: 768px) {
  wrapper {
    padding: 5vh 5vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: unset;
}

#project-name {
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.headermenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headermenu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headermenu ul li {
  margin: 0 30px;
}

.block {
  border-radius: 30px;
  padding: 15px;
  margin: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fit-width {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.fit-height {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.fit {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.code {
  background-color: #cecece;
  padding: 10px;
  border-radius: 0px 20px 20px 0px;
  border-left: 3px solid #2980d1;
  margin-bottom: 10px;
  margin-top: 10px;
}

.black {
  color: black !important;
}

.white {
  color: white !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.red {
  color: #fc7268;
}

.blue {
  color: #2080d1;
}

.icon-shadow {
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 5vh 5vw;
  }
}
/*# sourceMappingURL=aveone.css.map */