body{
	font-family: 'San-Francisco-Light', sans-serif;
	background-color: white;
	height: 100%;
	user-select: none;
}
@font-face{
	font-family: 'San-Francisco-Light';
	src:url(fonts/SFProDisplay-Light.eot);
	src:url(fonts/SFProDisplay-Light.ttf);
}
@font-face{
	font-family: 'San-Francisco-UltraLight';
	src:url(fonts/SFProDisplay-Ultralight.eot);
	src:url(fonts/SFProDisplay-Ultralight.ttf);
}
*{
	padding: 0;
	margin:0;
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.container{
	margin-left: 35px;
	margin-right: 35px;
}
.card{
	background-color: rgba(255,255,255,0.7);
	vertical-align: top;
	padding-top: 10px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 58px -19px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 58px -19px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 58px -19px rgba(0,0,0,0.75);
}
.bottom-animation:hover{
	transform: translateY(-10px);
	transition: 0.3s;
}
.bottom-animation{
	transition: 0.3s;
}
.scale-animation{
	transition: 0.3s;
	transform: scale(1);
}
.scale-animation:hover{
	transition: 0.3s;
	transform: scale(1.1);
}
.card-name{
	text-align: center;
	font-size: 24px;
}
.card-description{
	text-align: left;
	margin-top: 25px;
	font-size: 18px;
}
.card-avatar{
	width: 32px;
	height: 32px;
	border-radius: 32px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.btn{
	padding: 10px;
background-color: rgba(255,255,255,0.6);
	border-radius: 25px;
	color: black;
	font-size: 20px;
-webkit-box-shadow: 0px 0px 61px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 61px -12px rgba(0,0,0,0.75);
box-shadow: 0px 0px 61px -12px rgba(0,0,0,0.75);
transition: 0.3s;
position: relative;
top: 0;

}
.btn:hover{
	position: relative;
	top:10px;
	transition: 0.3s;
	-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.content{
	position: relative;
}
.text-header{
	margin-bottom: 20px;
	color: white;
	font-size: 24px;
	text-align: center;
}
@media screen and (min-width: 768px;){
	.btn:hover{
	position: relative;
	top:15px;
	transition: 0.3s;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
}
/* Меню навигации*/
nav{
	position: absolute;
	height: 70px;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	font-family: 'San-Francisco-Light';

}
.nav-logo{
	font-size: 20px;
	position: absolute;
	top: 23px;
	left: 35px;
	font-size: 20px;

	
}
.nav-btn{
	display: inline;
	margin-left: 25px;
	font-size: 20px;
}
@media screen and (max-width: 767px){
	#pc-nav-menu{
		display: none;
	}
	#mob-nav-menu{
		background-color: white;
		top:-138px;
		position: fixed;
		transition: 0.3s;
		width: 100%;
		-webkit-box-shadow: 0px 0px 58px -19px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 58px -19px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 58px -19px rgba(0,0,0,0.75);
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.mob-nav-btn{
		color: black;
		font-size: 24px;
		display: block;
		text-align: center;
		margin-bottom: 10px;
	}
	#burger{
		color: white;
		position: fixed;
		right: 18px;
		top: 21px;
		font-size: 24px;
		transition: 0.3s;
	}
	.mob-nav-menu-opened{
		top: 0 !important;
		transition: 0.3s !important;
	}
	.burger-move{
		transition: 0.3s !important;
		top:158px !important;
		color: #ff8f8f !important;
	}
	.burger-rotate-open{
		-webkit-animation: burger-rotate-open 0.3s linear;
		-o-animation: burger-rotate-open 0.3s linear;
		animation: burger-rotate-open 0.3s linear;
	}
	.burger-rotate-close{
		-webkit-animation: burger-rotate-close 0.3s linear;
		-o-animation: burger-rotate-close 0.3s linear;
		animation: burger-rotate-close 0.3s linear;
	}
}
@media screen and (min-width: 768px){
	#pc-nav-menu{
		position: absolute;
		right: 35px;
		top: 23px;
	}
	#mob-nav-menu{
		display: none;
	}
	#burger{
		display: none;
	}
	.nav-logo{
		position: fixed;
		transition: 0.1s;
		opacity: 1;
	}
	nav{
		position: fixed !important;
	}
	.nav-logo:hover{
		transition: 0.1s;
		opacity: 0.7;
	}
	.nav-btn{
		transition: 0.1s;
		opacity: 1;
	}
	.nav-btn:hover{
		transition: 0.1s;
		opacity: 0.7;
	}
	.logo-name{
		transition: 0.1s;
		opacity: 1;
	}
	.logo-name:hover{
		transition: 0.1s;
		opacity: 0.7;
	}
}
/* Меню навигации*/

/* Главный блок */
#welcome{
	height: 100vh;
	width: 100%;
	background-image: url(img/bg.jpg);
	background-size: 100% 100%;

}
#welcome-block{
	color: white;
	text-align: center;
	position: relative;
	top: 45vh;
	font-weight: normal;
	font-size: 24px;
}
#welcome-promo{
	margin-bottom: 20px;
}
@media screen and (max-width: 767px){
	#welcome-block{
		top: 35vh;
	}
}
/* Главный блок */

/* Блок проектов */
#projects{
	width: 100%;
	background-image: url(img/bg2.jpg);
	background-size: 100% 100%;	
	position: relative;
	padding-top:25vh;
    padding-bottom:26vh;
}
#projects-block{
	text-align: center;
}
#projects-promo{
	font-size: 28px;
	color: white;
	margin-bottom: 50px;
}
.project-select-card{
	width: 230px;
	height: 230px;
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	position: relative;
    padding-top: 10px;
}
#projects li{
	margin-left: 10px;
	list-style-type: none;
}
li:before{
	content: "-";
}
.project-open{
	color: white;
	background-image: url(img/bg2.jpg);
	background-size: 200% 200%;

}
.project-open-block{
	position: absolute;
	bottom: 35px;
	width: 100%;
}
@media screen and (max-width: 767px){
	.project-select-card{
		margin-bottom: 20px;
		margin-right: 0;
		width: 85%;
	}
	#projects-block{
		top: 50px;
	}
	#projects{
		padding-top:8vh;
		padding-bottom: 8vh;
	}
}
@media (min-width: 768px) and (max-width: 850px){
	.project-select-card{
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}
/* Блок проектов */

/* Контакты */
#contacts{
	padding-top: 10vh;
	padding-bottom: 10vh;
	background-image: url(img/bg3.jpg);
	text-align: center;
}
#contacts-scroll{
		overflow-x: scroll;
	white-space: nowrap;
	padding-left: 17px;
	padding-bottom: 20px;
	padding-top: 20px;
}

#contacts .card{
	display: inline-block;
	width: 300px;
	height: 85px;
	margin-right: 15px;
	position: relative;
	padding-bottom: 10px;
}
#contacts .card-name{
	text-align: left;
	margin-left: 50px;
	margin-top: 13px;
	color:white;
	font-size: 20px;
}
#contacts .card-description{
	margin-left: 50px;
	position: absolute;
	bottom: 19px;
}
#contacts .card-contacts{
	position: absolute;
	bottom: 10px;
	left: 10px;
}
#contacts .card-contacts img{
	width: 32px;
	height: 32px;
	border-radius: 32px;
}
#contacts .card-bg{
	background-image: url(img/bg2.jpg);
	background-size: 100% 250%;
	height: 50px;
    position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	border-radius: 14px 14px 0px 0px;
	-webkit-box-shadow: 0px 95px 124px -48px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 95px 124px -48px rgba(0,0,0,0.75);
box-shadow: 0px 95px 124px -48px rgba(0,0,0,0.75);
}
@media screen and (min-width: 850px){
	#contacts-scroll{
		overflow-x:hidden;
	}
}
@media screen and (max-width: 768px){
	#contacts .card{
		width: 95%;
	}
}

/* Контакты */

/* Listen */
#listen{
	background-image: url(img/bg2.jpg);
	background-size: 150% 200%;
	padding-top: 25vh;
	padding-bottom: 25vh;
	width: 100%;
}
#listen .card{
	margin: 0 auto;
	width: 60%;
	text-align: left;
}
#listen audio{
	width: 60%;
	margin-left: 10px;
	margin-bottom: 10px;
}
#listen hr{
	margin-bottom: 10px;
	border:0.5px solid gray;
}
.tale-name{
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}
#listen .tale-avatar {
		color: white;
		background-image: url(img/bg2.jpg);
		background-size: 250% 250%;
		border-radius: 100px;
		height: 40px;
		text-align: center;
		width: 40px;
		font-size: 20px;
		margin-left: 10px;
		display: inline-block;
		margin-bottom: 10px;
	}
	#listen .tale-avatar i{
		margin-top: 11px;
		margin-right: 3px;
	}
	#listen .tale-download{
		color: white;
		background-image: url(img/bg3.jpg);
		background-size: 250% 250%;
		border-radius: 100px;
		height: 40px;
		text-align: center;
		width: 40px;
		font-size: 20px;
		margin-left: 5px;
		display: inline-block;
	}
	#listen .tale-download i{
		margin-top: 11px;
	}
	#listen .tale-read{
		color: white;
		background-image: url(img/bg.jpg);
		background-size: 250% 250%;
		border-radius: 100px;
		height: 40px;
		text-align: center;
		width: 40px;
		font-size: 20px;
		margin-left: 5px;
		display: inline-block;
	}
	#listen .tale-read i{
		margin-top: 11px;
	}
@media screen and (max-width: 767px){
	#listen .card{
		width: 85%;
	}
	#listen audio{
		width: 75%;
	}
}
/* Listen */

/* Футер */
footer{
	position: absolute;
	bottom: 20px;
	width: 100%;
	font-size: 20px;
	text-align: center;
}
#footer-copyright:hover{
	opacity: 0.7;
	transition: 0.1s;
}
#footer-copyright{
	opacity: 1;
	transition: 0.1s;
}
/* Футер */
::-webkit-scrollbar-button {
	background-image: url('');
	background-repeat: no-repeat;
	width: 6px;
	height: 0px
}

::-webkit-scrollbar-track {
	background-color: #ecedee;

}

::-webkit-scrollbar-thumb {
	background-color: #6dc0c8;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #56999f;
}

::-webkit-resizer {
	background-image: url('');
	background-repeat: no-repeat;
	width: 4px;
	height: 0px;
}

::-webkit-scrollbar {
	width: 4px;
	height: 1px;
}
@keyframes burger-rotate-open{
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(45deg);
	}
	50%{
		transform: rotate(90deg);
	}
	75%{
		transform: rotate(135deg);
	}
	100%{
		transform: rotate(180deg);
	}
}
@keyframes burger-rotate-close{
	0%{
		transform: rotate(180deg);
	}
	25%{
		transform: rotate(135deg);
	}
	50%{
		transform: rotate(90deg);
	}
	75%{
		transform: rotate(45deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
#hellopreloader{
	background-image: url(img/bg2.jpg) !important;
	background-size: 100% 100%;	
}