*{
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

html, body{
	scroll-behavior: smooth;
}

body{
background-color: white;

	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.hidden{
	display: none;
}

/* Navbar */

nav{

}

/* Navbar */

/* Sidebar */

#sidebar{
	background: #673AB7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



	width:20vw;
	height: 95vh;
	-webkit-box-shadow: 0px 10px 15px 0px rgba(119,0,255,0.31);
-moz-box-shadow: 0px 10px 15px 0px rgba(119,0,255,0.31);
box-shadow: 0px 10px 15px 0px rgba(119,0,255,0.31);
	position: fixed;
	top: 50%;
	left: 0;
	border-radius: 0px 25px 25px 0px;
	transform: translateY(-50%);
	padding: 10px;
	color: white;
}

#sidebar .link{
	line-height: 50px;
}

#sidebar figure{
	display: flex;
	align-items: center;
	width: 100%;

}

#sidebar .link .icon{
	height: 36px;
	width: 36px;
	border-radius: 50%;
	margin:0px 10px;
}

#sidebar hr{
	width: 100%;
	opacity: 0.3;
}

#sidebar ul{
	list-style: none;
	width: 100%;
}
#sidebar .fas{
	font-size: 32px;
}

/* Sidebar icons */

#sidebar .fa-door-open{
	color: #676767;
}
#sidebar .fa-user-circle{
	color: #2c96ce;
}

#sidebar .icon-holder{
	height: 36px;
	width: 36px;
	margin-left:18px;
}

/* Sidebar icons */

.link:hover{
	background-color: rgba(0,0,0,0.1);
	transition: 0.3s;
	cursor: pointer;
}

.link{
	transition: 0.3s;
}
/* Sidebar */

/* Guides navigation  */
.guides-nav{
	margin-left: 50px;
	margin-bottom:10px;
	
}

.guides-nav ol{
	margin-left:20px;
}
/* Guides navigation  */

/* Guides */
.Guide-block p{
	margin: 20px;
	font-size: 1.2em;
}
@media screen and (max-width: 768px){
#sidebar{
	position: relative;
	top: 0;
	width:85%;
	transform: none;
	margin: 0 auto;
	border-radius: 25px;
	margin-top: 10%;
	padding-bottom: 10%;
	height: auto;


}
.Guide-block{
	color: black;
	background: #6441A5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	width: 85% !important;
	border-radius: 25px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 30px 5px rgba(0,94,255,1);
	-moz-box-shadow: 0px 0px 30px 5px rgba(0,94,255,1);
	box-shadow: 0px 0px 30px 5px rgba(0,94,255,1);
	min-height: 30vh;
	transition: 0.3s;
	text-align: center;
	line-height: 30px;
	margin: 0 auto !important;
	margin-top:10% !important;
	
}
body{
	padding: 0 !important;
	margin-bottom: 10%;
}
.Guide img{
	width: 95% !important;
}
}
@media screen and (min-width:768px){
	body{
		padding-left: 25vw;
		padding-right: 25vw;
		padding-bottom: 15vh;
	}
}

.Guide-block{
	color: white;
	
	background: #1488CC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	

	width: 60vw;
	border-radius: 25px;
	padding: 10px;
	margin-top: 5vh;
	-webkit-box-shadow: 0px 10px 15px 0px rgba(0,51,255,0.29);
-moz-box-shadow: 0px 10px 15px 0px rgba(0,51,255,0.29);
box-shadow: 0px 10px 15px 0px rgba(0,51,255,0.29);
	min-height: 30vh;
	transition: 0.3s;
	text-align: center;
	line-height: 30px;
	
}

.Guide img{
	width:  80%;
	margin-top:7px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}


.mobile-screenshot{
	width: 30% !important;
}

.Guide .header{
	font-size: 1.3em;
	margin:0;
}
p{
}
/* Guides */


/* footer */

#sidebar footer{
	position: absolute;
	text-align: center;
	left:0px;
	bottom: 10px;
	width:100%;
}

/* footer */
