body {
    font-family: 'Century Gothic', sans-serif;
}
@font-face {
    font-family: 'Century Gothic'; /* Гарнитура шрифта */
    src: url('11528.ttf'); /* Для остальных браузеров */
   }
.btns-block {
    display: flex;
}

.btns-block .btn {
    margin-right: 10px;
}

.block .project-name {
    color: black;
}

.flex-block {
    display: flex;
    flex-wrap: wrap;
}

.flex-block .block {
    margin-right: 10px;
}